<html>
  <head>
    <title><%= content_for(:title) || "Photogram Industrial" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render partial: "shared/cdn_assets" %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
<!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <%= link_to "Photogram (Industrial)", root_path, class: "navbar-brand" %>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/photos">Photos</a>
            <a class="dropdown-item" href="/comments">Comments</a>
            <a class="dropdown-item" href="/follow_requests">Follow Requests</a>
            <a class="dropdown-item" href="/likes">Likes</a>
          </div>
        </li>
      </ul>
  </div>
</nav>
